body{ background-color:#f5f5f5; }

.wrapper{
	max-width:1200px;
	margin:0 auto;
	min-width:320px;}
.header{
	position: fixed;
	width:100%;
	display:block;
	min-height:55px;
	background-color:#fff;
	box-shadow: 0 0 2px rgba(0,0,0,.3);
	z-index:9999999;
	}

.logo{
	padding:0px 0px;
	margin:15px;
	float:left;
	width:165px;
	}
	

@-webkit-keyframes rotating  {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}


.main-content {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
} 

@media only screen and (min-width: 230px) and (max-width:780px){
.wrapper { width:100%; margin:0% 0%; }
.header{min-height:75px;}
.logo { display:none !important; }
.header{ box-shadow:none !important; background-image:none !important; }
}

@media only screen and (min-width: 781px) and (max-width:1064px) {
.wrapper { width:96%; margin:0% 2%; }
.logo{ padding:20px 0px; float:none !important; margin:0 auto !important; width:100% !important; text-align:center; }
}


@media only screen and (min-width: 1024px) and (max-width:1200px) {
.wrapper { width:96%; margin:0% 2%; }

}


